.register-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .register-donator {
    padding: 0px 50px;
    flex: 50%;
    height: calc(100vh - 50px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .register-donator-container {
      padding: 20px;
      border-radius: 20px;

      .fa-share-square {
        margin-right: 5px;
      }

      .google-sign-in-button {
        margin-left: 10px;

        .fa-google {
          margin-right: 5px;
        }
      }
    }

    .register-donator-container:hover {
      -webkit-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
      box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
    }
  }

  .register-receiver {
    padding: 0px 50px;
    flex: 50%;
    height: calc(100vh - 50px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .register-receiver-container {
      padding: 20px;
      border-radius: 20px;

      .fa-share-square {
        margin-right: 5px;
      }

      .google-sign-in-button {
        margin-left: 10px;

        .fa-google {
          margin-right: 5px;
        }
      }
    }

    .register-receiver-container:hover {
      -webkit-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
      box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.29);
    }
  }

  .heading-style {
    text-align: center;
    padding: 20px 0px;
    font-family: "Poppins", sans-serif;
  }
}
